.alado{ 
    background-color: #f5f5f5;
    border-radius: 500px;
    padding: 20px;
    margin-bottom: 20px;

}

.cien{
    text-decoration: none;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 500px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 300px;

}